{{define "page"}}
<main>
    <h1>128k.blog — long-form nostr</h1>
    <p>
        We should have long-form nostr, too, right?
    </p>
    <p>
        This is an one-day attempt at a blogging client with nostr. Of course,
        you can't edit posts. Who needs edit? Nothing can be unseen, anyway xD
    </p>
    <p>
        What you can do is post something to your existing nostr account. You
        can choose your relays, too!
    </p>
    <p>
        Open source forever, on
        <a href="https://github.com/sirodoht/prophet">github.com/sirodoht/prophet</a>
        and on <a href="https://git.sr.ht/~sirodoht/prophet">git.sr.ht/~sirodoht/prophet</a>
        (for the hipsters—myself included).
    </p>
    <p>
        Don't use it for evil!
    </p>
    <p>
        – Theodore
    </p>
</main>
{{end}}
