{{define "page"}}
<main>
    <h1>new post</h1>
    <form method="post">
        <p>
            <label for="id_body">post:</label>
            <textarea rows="15" name="body" id="id_body"></textarea>
        </p>
        <p>
            <label for="id_nsec">your nsec (not saved, used only for signing):</label>
            <input type="text" name="nsec" maxlength="100" required id="id_nsec">
        </p>
        <p>
            <label for="id_relaylist">relay list:</label>
            <textarea rows="4" name="relaylist" id="id_relaylist">{{.DefaultRelayList}}</textarea>
        </p>
        <input type="submit" value="save">
    </form>
</main>
{{end}}
